.container {
  display: flex;
  justify-content: center;
  width: 85%;
}

.firnControl {
  width: 30%;
  margin-bottom: 30px !important;
}

@media (max-wdith: 770px) {
  .container {
    width: 100%;
  }
}
