body {
  background-color: #282e38;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 10vw;
  margin-top: 10px;
  margin-left: 10px;
  top:0;
  left:0;
}

@media (max-wdith: 770px) {
  .container {
    margin: 0 10%;
  }
  .image {
    width: 10vw;
  }
}
